
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
*,
*,
::before,
::after{
    box-sizing: border-box;
    
}
body{
    margin: 0px;
    font-family: "Roboto" sans-serif;
}
header{
    font-family: "Shrikhand";
    text-align: center;
    position: relative;
padding: 0.5rem;
    box-shadow: 0 0 0.8rem gray;

}

.logo-food img{
width: 38%;
height: 38%;
}

main .ville{
    background-color: #f6f6f6;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    font-size: 1rem;
    font-family: "Roboto" sans-serif;
    padding: 0.3rem;
}

main h1 {
    font-size:1rem;
}

 .fa-map-marker-alt{
    font-size: 1rem;
}

/*** Decouverte ***/

#decouverte{
    text-align: center;
}

#decouverte h2{
    margin-top: 2rem;
    font-size: 2rem;
}


#decouverte button{
    background-image: linear-gradient(#9356DC, #FF79DA);
    color: white;
    font-size: 1rem;
    font-weight: 200;
    border-radius: 2rem;
    box-shadow: 2px 1px 16px -3px #f6f6f6;
    padding: 1rem 2rem;
    border: none;
    transition: transform steps(200ms);
}

#decouverte button:hover{
    transform: scale(1.03);
    opacity: 1.02;
}